svg {
    background-color: pink;
}

#pikachu {


    offset-path: path('m 78.237076,129.94304 c 1.052918,2.03387 -2.222146,2.42275 -3.380428,1.75002 -3.138875,-1.82307 -2.3071,-6.32133 -0.119612,-8.51088 3.912904,-3.91659 10.380681,-2.4657 13.641325,1.5108 4.785126,5.83567 2.647597,14.50183 -3.141206,18.77177 -7.715564,5.69117 -18.645787,2.84054 -23.902221,-4.77161 -6.614685,-9.57912 -3.03942,-22.80084 6.402024,-29.03267 11.434853,-7.54758 26.962174,-3.24178 34.163112,8.03243 8.48606,13.28627 3.44634,31.12744 -9.662837,39.29357 -15.135064,9.42811 -35.295327,3.65235 -44.424012,-11.29325 -10.372592,-16.98215 -3.859392,-39.46506 12.923658,-49.554464 18.828045,-11.31879 43.636121,-4.067169 54.684911,14.554064 12.26625,20.6731 4.2755,47.8082 -16.184478,59.81536 -7.574894,4.44541 -16.385323,6.62641 -25.157742,6.30152');
    animation: run 10s linear alternate infinite;
}
@keyframes run {

    100% {
        offset-distance: 100%;
    }

}